@font-face {
  font-family: "Sofia-Regular";
  src: url("./font/Sofia/Sofia-Regular.woff2") format("woff2"),
       url("./font/Sofia/Sofia-Regular.woff") format("woff"),
       url("./font/Sofia/Sofia-Regular.ttf") format("truetype"),
       url("./font/Sofia/Sofia-Regular.eot") format("embedded-opentype"),
       url("./font/Sofia/Sofia-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}