@media screen and (max-width: 900px) {
    body {
        padding: 15px 0;
        padding: 2.5vw 0;
    }
    #container{
        max-width: 95%;
    }
    #main-nav, #content, #footer {
        width: 90%;
        margin: 0 auto;
    }
    .hdimg {
        padding: 50px 0;
    }
    .article-nav-full {
        display: none;
    }
    .article-nav-mobile {
        display: inline;
    }
}

@media screen and (max-width: 500px) {
    .hdimg {
        h1 {
            font-size: 45px;
            font-size: 15vw;
        }
        p { 
            font-size: 20px;
            font-size: 6vw;
        }
    }
}