
// Normalize
@import "_normalize.styl";
// Font
@import "_font.styl";

$main-color = #555
$sub-color = #fff
$background-color = #232323

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    color: $main-color;
	vertical-align: baseline;
    outline: none;
    text-decoration: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    word-wrap: break-word;
    font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei",tahoma,arial,simsun;
    padding: 100px 0;
    background-position: center center;
    background-color: $background-color;
    color: $main-color;
    letter-spacing: 0.01rem;
}

pre {
    padding: 5px;
    font-size: 13.3px;
    font-family: Consolas, Monaco, Menlo, Consolas, monospace;
}

#container {
        width: 900px;
        margin: 0 auto;
        background: #fff;
}

.hdimg {
    padding: 140px 0;
    background-image: url(/image/hdimg.jpg);
	background-position: center center;

    h1 {
        font-family: "Sofia-Regular","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",tahoma,arial,simsun;
        margin-bottom: 15px;
        font-size: 70px;
        font-weight: 500;
        letter-spacing: 4px;
        line-height: 42px;
        text-align: center;
        color: white;
        }

    p {
        padding: 20px 50px 0;
        font-size: 1.2em
        text-align: center;
        color: white;
        }

    text-shadow: 0 3px 5px rgba(0,0,0,.5);
}

#main-nav {
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #f2f2f2;
    a {
        white-space: nowrap;
        display: inline-block;
        margin: 0 10px;
        }
    a:hover {
        opacity: 0.6;
        }
}

#main-nav, #content, #footer{
    width: 700px;
    margin: 0 auto;
}

/*article*/
article {
    margin: 50px 0
}

.article+.article {
    border-top: 1px dashed #f2f2f2;
    padding-top: 50px;
}

.article-title {
    text-align: center;
    font-weight: 400;
    font-size: 0.9em;
    margin: 0;
    a {
        transition: all .3s;
        -moz-transition: all .3s; /* Firefox 4 */
        -webkit-transition: all .3s; /* Safari and Chrome */
        -o-transition: all .3s; /* Opera */
    }
    h1 {
        font-weight: 500;
        margin: 0;
    }
}

.article-title a:hover {
    opacity: 0.6;
}

.article-meta {
    text-align: center;
    margin: 5px 0 15px 0;
    font-size: 14px;
    time, span ,a {
        color: #a9a9a9;
    }
}

.article-more-link {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    a {
        color: $main-color !important;
    }
}

.article-more-link a:hover {
    color: #fff !important;
}

.more-link-button {
    padding: 5px;
    border-bottom: 1px solid $main-color;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari and Chrome */
    -o-transition: all .3s; /* Opera */
}
.more-link-button:hover {
    background-color: $main-color;
}

.article-content {
    line-height: 1.6em;
    a {
        color: #a9a9a9;
    }
    a:hover {
            color: $main-color;
    }
    img {
        width: 100%;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
    }
    .headerlink {
        visibility: hidden;
        margin-left: -0.9em;
        padding-right: 0.36em;
    }
    h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover{
        .headerlink {
            visibility: visible;
        }
    }
    .headerlink:before {
        content: '#';
    }
}

.article-tag-list {
    margin: 30px 0;
    padding-left: 0 !important;
    li {
        list-style: none;
        display: inline;
    }
    a {
        margin: 0.5em;
        padding: 2px;
        color:#a9a9a9;
        font-size: 14px;
    }
    a:before {
        content: "#";
    }
    a:hover {
        border-bottom: 1px dashed #a9a9a9;
    }
}

#article-nav{
    display: block;
    margin: 30px 0;
    overflow: hidden;
}

.article-nav-item {
    font-size: 20px;
    font-weight: 600;
    i {
        padding: 0 5px;
    }
}

.article-nav-item:hover {
    opacity: 0.6; 
}

#article-nav-newer {
    float: left;
}

#article-nav-older {
    float: right;
}

.article-nav-mobile {
    display: none;
}

/*archives*/
.archives-wrap {
    margin: 20px 0;
    .archives {
        margin: 20px 20px;
    }
    .archive-year, .archive-tag-title, .archive-category-title {
        font-size: 20px;
        font-weight: 500;
    }
    time {
        color: #a9a9a9;
    }
    h1 {
        display: inline;
        font-size: 16px;
        font-weight: 400;
        margin-left: 1em;
        transition: all .3s;
        -moz-transition: all .3s; /* Firefox 4 */
        -webkit-transition: all .3s; /* Safari and Chrome */
        -o-transition: all .3s; /* Opera */
        &:hover {
            opacity: .6;
        }
    }
    article {
        margin: 5px 0;
    }
}

/*comments*/
#comments {
    margin: 30px 0;
}

/*page nav*/
#page-nav {
    margin: 60px 0 10px 0;
    text-align: center;
    .page-number, .prev, .next {
        bottom: 1px;
        margin: 5px;
        padding: 10px;
    }
    .current, .page-number:hover, .prev:hover, .next:hover {
        border-bottom: 1px solid #555;
    }
}

/*footer*/
#footer {
    border-top: 1px solid #f2f2f2;
    font-size: 16px;
    line-height: 1.45em;
    text-align: center;
    padding: 30px 0;
    a {
        color: #a9a9a9;
        &:hover {
            color: $main-color;
        }
    }
}

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out; /* Firefox 4 */
    -webkit-transition: transform .3s ease-out; /* Safari and Chrome */
    -o-transition: transform .3s ease-out; /* Opera */
    z-index: 5;
    i {
        color: white;
        font-size: 1.5em;
        padding: 1px 6px 3px 6px;
        background-color: $background-color;
    }
    &:hover {
        transform: translateY(-5px); 
    }
}

::selection {
    background: $background-color;
    color: #fff;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    border-radius: 10px;
}

@import "_variables.styl";
@import "_highlight.styl";
@import "_mobile.styl";