// Normalize
@import "_normalize.styl";

body {
    word-wrap: break-word;
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",tahoma,arial,simsun;
    padding: 100px 0;
    background-position: center center;
    background-color: #232323;
    color: #555;
}

#container {
        width: 900px;
        margin: 0 auto;
        background: #fff;
}

.hdimg {
    padding: 140px 20px;
    background-image: url(http://img.ph.126.net/EhoKC3IZEtDGyq0LUYRTtw==/5629503932259725075.jpg);
	background-position: center center;
}

.hdimg h1 {
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 4px;
    line-height: 42px;
    text-align: center;
    color: white;
}

.hdimg p {
    padding: 20px 50px 0;
    text-align: center;
    color: white;
}